<%= form_with(model: message) do |form| %>
<div class="message">
  <div class="message-header">
    <div class="message-header-contents">
      <%= form.text_field :subject, style: "width:100%;font-size:20px", autocomplete: "off" %>
      <br>

      <p>
      To:
      <%= form.text_field :to, value: @to, style: "width: 100%;" %>
      <br>
      Bcc:
      <%= form.text_field :bcc, style: "width: 100%" %>

      <h4 style="margin-bottom:0">Message type</h4>
      <%= form.select :content_type, ['Text', 'HTML'] %>
    </div>
  </div>

    <%= form.text_area :body, class: "message-iframe" %>
</div>


<%= form.submit "Send Message" %>

<% end %>
