<p style="color: green"><%= notice %></p>

<h1>Messages</h1>

<% @mailboxes.each do |f| %>
  <%= link_to f, "?mailbox=#{f}" %>
<% end %>

<br>

<%= link_to "New message", new_message_path %>

<div id="messages" style="width:100%">
  <table style="width:100%">
    <tr style="width:100%">
      <th style="width:25%">
        Subject
      </th>
      <th style="width:30%">
        From
      </th>
      <th style="width:30%">
        To
      </th>
      <th style="width:15%">
        Date
      </th>
    </tr>

    <% @messages.each do |message| %>
      <% msgid = message.attr['ENVELOPE'].message_id %>

      <tr>
        <td>
          <%  @style="" %>
          <% @style="font-weight: bold;" if !message.attr['FLAGS'].include?(:Seen) %>
          <%= link_to message.attr['ENVELOPE'].subject, message_path(@selected_mailbox, Base64.strict_encode64(msgid)), style: @style %>
        </td>
        <td>
          <% message.attr['ENVELOPE'].from.to_a.each do |from| %>
            <% addr = "#{from.mailbox}@#{from.host}" %>
            <%= from.name %> &#60;<%= link_to addr, new_message_path + "?to=#{addr}" %>&#62;
          <% end %>
        </td>
        <td>
          <% message.attr['ENVELOPE'].to.to_a.each do |to| %>
            <% addr = "#{to.mailbox}@#{to.host}" %>
            <%= to.name %> &#60;<%= link_to addr, new_message_path + "?to=#{addr}" %>&#62;
          <% end %>
        </td>
        <td>
          <%= message.attr['INTERNALDATE'].to_datetime.strftime("%a. %b %e, %Y %l:%M %p") %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
