<p style="color: green"><%= notice %></p>

<h1>Messages</h1>

<% @mailboxes.each do |f| %>
  <%= link_to f, "?mailbox=#{f}" %>
<% end %>

<br>

<%= link_to "New message", new_message_path %>

<div id="messages">
  <table>
    <tr>
      <th>
        Subject
      </th>
      <th>
        From
      </th>
    </tr>

    <% @messages.each do |message| %>
      <% msgid = message.attr['ENVELOPE'].message_id %>

      <tr>
        <td>
          <%= link_to message.attr['ENVELOPE'].subject, message_path(@selected_mailbox, Base64.strict_encode64(msgid)) %>
        </td>
        <td>
          <% from = message.attr['ENVELOPE'].from[0] %>
          <% addr = "#{from.mailbox}@#{from.host}" %>
          <%= link_to "#{from.name} <#{addr}>", new_message_path + "?to=#{addr}" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
