<p style="color: green"><%= notice %></p>

<div class="message">
  <div class="message-header">
    <div class="message-header-contents">
      <h3><%= @message.subject %></h3>

      <p>From:
      <% @imap_message[0].attr['ENVELOPE'].from.to_a.each do |from| %>
        <% addr = "#{from.mailbox}@#{from.host}" %>
        <%= from.name %> &#60;<%= link_to addr, new_message_path + "?to=#{from.name.to_s+?<+addr+?>}" %>&#62;
      <% end %>
      <br>
      To:
      <% @imap_message[0].attr['ENVELOPE'].from.to_a.each do |to| %>
        <% addr = "#{to.mailbox}@#{to.host}" %>
        <%= to.name %> &#60;<%= link_to addr, new_message_path + "?to=#{to.name.to_s+?<+addr+?>}" %>&#62;
      <% end %>
      <br>
      Date:
      <%= @imap_message[0].attr['INTERNALDATE'].to_datetime.in_time_zone(ActiveSupport::TimeZone.new("Pacific Time (US & Canada)")).strftime("%a. %b %e, %Y %l:%M %p %Z") %>
      </p>
      <% if @multipart  %>
        <h4 style="margin-bottom:0">View in</h4>
        <% @parts.each_with_index do |p, i| %>
          <% if i == @part_num %>
            <%= p.content_type.split("; ")[0] %>
          <% else %>
            <%= link_to p.content_type.split("; ")[0], "?part=#{i}" %>
          <% end %>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>

  <%
    message_body = @body
    if @content_type == "text/html"
      message_body = "<meta #{@charset}><base target='_parent'>" + message_body
    end
  %>

  <iframe
    sandbox="
             allow-downloads
             allow-forms
             allow-popups
             allow-top-navigation
             allow-top-navigation-by-user-activation
             "
    class="message-iframe"
    frameBorder="0"
    src="data:<%= @content_type %>;base64,<%= Base64.strict_encode64 message_body %>">
  </iframe>
</div>

<div>
  <%= link_to "Back to messages", messages_path + "?mailbox=#{@selected_mailbox}" %>
</div>
