<p style="color: green"><%= notice %></p>

<% if @multipart  %>
  <% @parts.each_with_index do |p, i| %>
    <%= link_to p.content_type, "?part=#{i}" %>
  <% end %>
<% end %>

<%= @body.html_safe %>

<div>
  <%= link_to "Back to messages", messages_path + "?mailbox=#{@selected_mailbox}" %>
</div>

<%= console %>
